<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.aucentiq.Maxima</string>
	<key>CFBundleName</key>
	<string>Maxima</string>
	<key>CFBundleDisplayName</key>
	<string>Maxima</string>
	<key>CFBundleExecutable</key>
	<string>Maxima</string>
	<key>CFBundleIconFile</key>
	<string>Maxima</string>
	<key>CFBundleIconName</key>
	<string>Maxima</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 aucentiq solutions GmbH. MIT licensed.</string>
</dict>
</plist>
